### scikit-learn 머신러닝 분류 예측 모델 구현하기
### 이진분류 예측 모델을 구현하세요. train/test는 70:30으로 나누기.
### scikit-learn 의 평가지표를 출력

In [31]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [32]:
titanic = pd.read_csv('titanic_train.csv')
# male은 0, female은 1
titanic['Sex'] = titanic['Sex'].replace('male', 0)
titanic['Sex'] = titanic['Sex'].replace('female', 1)
# 결측치 0으로 채우기 + 필요한 열만 추출
titanic = titanic[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Survived']].replace(np.nan, 0)
titanic

     Pclass  Sex   Age  SibSp     Fare  Survived
0         3    0  22.0      1   7.2500         0
1         1    1  38.0      1  71.2833         1
2         3    1  26.0      0   7.9250         1
3         1    1  35.0      1  53.1000         1
4         3    0  35.0      0   8.0500         0
..      ...  ...   ...    ...      ...       ...
886       2    0  27.0      0  13.0000         0
887       1    1  19.0      0  30.0000         1
888       3    1   0.0      1  23.4500         0
889       1    0  26.0      0  30.0000         1
890       3    0  32.0      0   7.7500         0

[891 rows x 6 columns]

In [33]:
titanic_data = titanic.iloc[:, 0:5]
titanic_result = titanic.iloc[:, 5]
print(titanic_data)
print(titanic_result)

     Pclass  Sex   Age  SibSp     Fare
0         3    0  22.0      1   7.2500
1         1    1  38.0      1  71.2833
2         3    1  26.0      0   7.9250
3         1    1  35.0      1  53.1000
4         3    0  35.0      0   8.0500
..      ...  ...   ...    ...      ...
886       2    0  27.0      0  13.0000
887       1    1  19.0      0  30.0000
888       3    1   0.0      1  23.4500
889       1    0  26.0      0  30.0000
890       3    0  32.0      0   7.7500

[891 rows x 5 columns]
0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [34]:
# 70:30으로 나누기
X_train, X_test, y_train, y_test = train_test_split(titanic_data, titanic_result, test_size = 0.3, random_state=11)

In [35]:
dt_clf = DecisionTreeClassifier(random_state = 11)

# 학습
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=11, splitter='best')

In [36]:
# 예측
pred = dt_clf.predict(X_test)
pred

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0], dtype=int64)

In [39]:
# 예측정확도 - 1에 가까울수록 정확
print('예측 정확도 : {0:.4f}'.format(accuracy_score(y_test,pred)))

cl_report = classification_report(y_test,pred)
print('리포트 :\n',cl_report)

예측 정확도 : 0.8097
리포트 :
               precision    recall  f1-score   support

           0       0.86      0.85      0.85       176
           1       0.72      0.73      0.72        92

    accuracy                           0.81       268
   macro avg       0.79      0.79      0.79       268
weighted avg       0.81      0.81      0.81       268