< pandas 기본실습> 

boston_train.zip 파일을 다운 받아 압축을 풀고
파이썬 소스 디렉토리에 복사해놓는다

1. pandas로 boston_train.csv 파일을  읽어서

  1.1 속성 출력: shape,index,value

  1.2 행(row)으로 접근

  1.3 열(column)로 접근

  1.4 열의 이름을 직접 사용하여 열을 추출하여 Series 객체 생성

  1.5 열의 번호를 사용하여 열을 추출하여 Series 객체 생성

  1.6 열의 이름을 직접 사용하여 여러개 열을 추출하여
      DataFrame 객체 생성  
 
  1.7 열의 번호를 사용하여 여러개 열을 추출하여
      DataFrame 객체 생성  

  1.8 df.iloc[행,열]를 사용하여 스칼라 값(원소) 값을 접근하고 수정
  
  1.9 수정된 DataFrame을 새로운 csv 파일로 저장

In [4]:
import pandas as pd

train = pd.read_csv('../boston_train.csv')
train

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]

In [7]:
print('1.1 속성 출력: shape,index,value')
print('shape :', train.shape)
print('index :', train.index)
print('values :', train.values)

1.1 속성 출력: shape,index,value
shape : (400, 10)
index : RangeIndex(start=0, stop=400, step=1)
values : [[2.30040e+00 0.00000e+00 1.95800e+01 ... 4.03000e+02 1.47000e+01
  2.38000e+01]
 [1.33598e+01 0.00000e+00 1.81000e+01 ... 6.66000e+02 2.02000e+01
  1.27000e+01]
 [1.27440e-01 0.00000e+00 6.91000e+00 ... 2.33000e+02 1.79000e+01
  2.66000e+01]
 ...
 [1.38799e+00 0.00000e+00 8.14000e+00 ... 3.07000e+02 2.10000e+01
  1.32000e+01]
 [7.36711e+00 0.00000e+00 1.81000e+01 ... 6.66000e+02 2.02000e+01
  1.10000e+01]
 [1.41500e-01 0.00000e+00 6.91000e+00 ... 2.33000e+02 1.79000e+01
  2.53000e+01]]

In [14]:
print('1.2 행(row)으로 접근')
train[0:]

1.2 행(row)으로 접근

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]

In [13]:
print('1.3 열(column)로 접근')
train[train.columns]

1.3 열(column)로 접근

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     2.30040   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]

In [25]:
print('1.4 열의 이름을 직접 사용하여 열을 추출하여 Series 객체 생성')
trainSeries = train['CRIM']
print(trainSeries)
print(trainSeries.shape)
print(type(trainSeries))

1.4 열의 이름을 직접 사용하여 열을 추출하여 Series 객체 생성
0       2.30040
1      13.35980
2       0.12744
3       0.15876
4       0.03768
         ...
395     0.23912
396     0.04560
397     1.38799
398     7.36711
399     0.14150
Name: CRIM, Length: 400, dtype: float64
(400,)
<class 'pandas.core.series.Series'>

In [28]:
print('1.5 열의 번호를 사용하여 열을 추출하여 Series 객체 생성')
trainSeries2 = train[train.columns[0]]
print(trainSeries2)
print(trainSeries2.shape)
print(type(trainSeries2))

1.5 열의 번호를 사용하여 열을 추출하여 Series 객체 생성
0       2.30040
1      13.35980
2       0.12744
3       0.15876
4       0.03768
         ...
395     0.23912
396     0.04560
397     1.38799
398     7.36711
399     0.14150
Name: CRIM, Length: 400, dtype: float64
(400,)
<class 'pandas.core.series.Series'>

In [30]:
print('1.6 열의 이름을 직접 사용하여 여러개 열을 추출하여 DataFrame 객체 생성')
trainDF1 = train[['CRIM', 'ZN', 'INDUS', 'NOX']]
print(trainDF1)
print(trainDF1.shape)
print(type(trainDF1))

1.6 열의 이름을 직접 사용하여 여러개 열을 추출하여 DataFrame 객체 생성
         CRIM    ZN  INDUS    NOX
0     2.30040   0.0  19.58  0.605
1    13.35980   0.0  18.10  0.693
2     0.12744   0.0   6.91  0.448
3     0.15876   0.0  10.81  0.413
4     0.03768  80.0   1.52  0.404
..        ...   ...    ...    ...
395   0.23912   0.0   9.69  0.585
396   0.04560   0.0  13.89  0.550
397   1.38799   0.0   8.14  0.538
398   7.36711   0.0  18.10  0.679
399   0.14150   0.0   6.91  0.448

[400 rows x 4 columns]
(400, 4)
<class 'pandas.core.frame.DataFrame'>

In [32]:
print('1.7 열의 번호를 사용하여 여러개 열을 추출하여 DataFrame 객체 생성')
trainDF2 = train[[train.columns[0], train.columns[1], train.columns[2]]]
print(trainDF2)
print(trainDF2.shape)
print(type(trainDF2))

1.7 열의 번호를 사용하여 여러개 열을 추출하여 DataFrame 객체 생성
         CRIM    ZN  INDUS
0     2.30040   0.0  19.58
1    13.35980   0.0  18.10
2     0.12744   0.0   6.91
3     0.15876   0.0  10.81
4     0.03768  80.0   1.52
..        ...   ...    ...
395   0.23912   0.0   9.69
396   0.04560   0.0  13.89
397   1.38799   0.0   8.14
398   7.36711   0.0  18.10
399   0.14150   0.0   6.91

[400 rows x 3 columns]
(400, 3)
<class 'pandas.core.frame.DataFrame'>

In [35]:
print('1.8 df.iloc[행,열]를 사용하여 스칼라 값(원소) 값을 접근하고 수정')
print(train.iloc[0, 0])
train.iloc[0, 0] = 5.0000
print(train.iloc[0, 0])
train.iloc[0, 0] = 7.123
print(train.iloc[0, 0])

1.8 df.iloc[행,열]를 사용하여 스칼라 값(원소) 값을 접근하고 수정
2.3004
5.0
7.123

In [20]:
print('1.9 수정된 DataFrame을 새로운 csv 파일로 저장')

1.9 수정된 DataFrame을 새로운 csv 파일로 저장

In [38]:
train.to_csv('../boston_train_modify.csv', index = False)
train_modify = pd.read_csv('../boston_train_modify.csv')
print(train_modify)
print(train_modify.iloc[0, 0])

         CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO  MEDV
0     7.12300   0.0  19.58  0.605  6.319  96.1  2.1000  403     14.7  23.8
1    13.35980   0.0  18.10  0.693  5.887  94.7  1.7821  666     20.2  12.7
2     0.12744   0.0   6.91  0.448  6.770   2.9  5.7209  233     17.9  26.6
3     0.15876   0.0  10.81  0.413  5.961  17.5  5.2873  305     19.2  21.7
4     0.03768  80.0   1.52  0.404  7.274  38.3  7.3090  329     12.6  34.6
..        ...   ...    ...    ...    ...   ...     ...  ...      ...   ...
395   0.23912   0.0   9.69  0.585  6.019  65.3  2.4091  391     19.2  21.2
396   0.04560   0.0  13.89  0.550  5.888  56.0  3.1121  276     16.4  23.3
397   1.38799   0.0   8.14  0.538  5.950  82.0  3.9900  307     21.0  13.2
398   7.36711   0.0  18.10  0.679  6.193  78.1  1.9356  666     20.2  11.0
399   0.14150   0.0   6.91  0.448  6.169   6.6  5.7209  233     17.9  25.3

[400 rows x 10 columns]
7.122999999999999