## 사전 (dict) : 가변형(mutable)
### 순서가 없고 키와 값이 한 쌍으로 이루어진다.
### 키는 immutable형이다.
### {key:value, ...}

In [5]:
a = {}
a['name'] = '홍길동'
a['age'] = 20
a['phone'] = '010-1234-1234'
a[10] = 500
print(a)
print(type(a))

{'name': '홍길동', 'age': 20, 'phone': '010-1234-1234', 10: 500}
<class 'dict'>

In [6]:
# 요소 접근 : a[key]
a['name']

'홍길동'

In [7]:
# 요소추가
a['주소'] = '서울시'
a['직업'] = '학생'
print(a)

{'name': '홍길동', 'age': 20, 'phone': '010-1234-1234', 10: 500, '주소': '서울시', '직업': '학생'}

In [9]:
print(a.keys()) # key 값만 dict_keys 타입으로 반환
print(type(a.keys()))
print(a.values()) # value 값만 dict_values 타입으로 반환
print(type(a.values()))
print(a.items())

dict_keys(['name', 'age', 'phone', 10, '주소', '직업'])
<class 'dict_keys'>
dict_values(['홍길동', 20, '010-1234-1234', 500, '서울시', '학생'])
<class 'dict_values'>
dict_items([('name', '홍길동'), ('age', 20), ('phone', '010-1234-1234'), (10, 500), ('주소', '서울시'), ('직업', '학생')])

In [10]:
print(a.get('hobby'))

None

In [12]:
print(a.get('hobby', '농구'))
print(a)

농구
{'name': '홍길동', 'age': 20, 'phone': '010-1234-1234', 10: 500, '주소': '서울시', '직업': '학생'}

In [15]:
print(a.keys())

dict_keys(['name', 'age', 'phone', 10, '주소', '직업'])

In [20]:
print(a.keys())
for val in a.keys() :
    print(val)

dict_keys(['name', 'age', 'phone', 10, '주소', '직업'])
name
age
phone
10
주소
직업

In [22]:
print(a.items(), type(a))

dict_items([('name', '홍길동'), ('age', 20), ('phone', '010-1234-1234'), (10, 500), ('주소', '서울시'), ('직업', '학생')]) <class 'dict'>

In [23]:
for val in a.items() :
    print(val, type(val))

('name', '홍길동') <class 'tuple'>
('age', 20) <class 'tuple'>
('phone', '010-1234-1234') <class 'tuple'>
(10, 500) <class 'tuple'>
('주소', '서울시') <class 'tuple'>
('직업', '학생') <class 'tuple'>

In [25]:
for key, val in a.items() :
    print(key, val, type(key), type(val))

name 홍길동 <class 'str'> <class 'str'>
age 20 <class 'str'> <class 'int'>
phone 010-1234-1234 <class 'str'> <class 'str'>
10 500 <class 'int'> <class 'int'>
주소 서울시 <class 'str'> <class 'str'>
직업 학생 <class 'str'> <class 'str'>

In [26]:
# 해당 키와 값을 뽑은 후 제거
ret = a.pop(10)
print(ret)
print(a)

500
{'name': '홍길동', 'age': 20, 'phone': '010-1234-1234', '주소': '서울시', '직업': '학생'}

In [27]:
# 내부를 전부 제거하고 비운다.
a.clear()

In [28]:
print(a)

{}

In [29]:
# 사전 내장 dict comprehension
a = {k : k for k in range(0, 11, 2)}
print(a)
print(type(a))

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8, 10: 10}
<class 'dict'>

In [46]:
b = {k : v for k, v in zip(['a', 'b'], [1, 2])}
print(b)
print(type(b))

{'a': 1, 'b': 2}
<class 'dict'>

In [51]:
s = 'abcdefg'
for i, v in enumerate(s) :
    print(i, v)

0 a
1 b
2 c
3 d
4 e
5 f
6 g